---

import ColorsBaseL from "@components/atoms/ColorsBaseL.astro";
import ColorsGrises from "@components/atoms/ColorsGrises.astro";
import SectionLayout from "@components/prouns/SectionLayout.astro";

---

<SectionLayout id="color" bg="var(--clr-ff)">

    <h1>Colores: base y derivados</h1>
    <p>Color principal o «base».</p>
    <div class="color-div base"></div>

    <h1>Cambiando su luminosidad</h1>
    <p>A partir del color base, generamos variantes cambiando su luminosidad.</p>
    <ColorsBaseL />

    <h1>Escala de grises</h1>
    <p>Escala de grises con un croma bajo y el hue del color base.</p>
    <ColorsGrises />

    <h1>Gradientes</h1>
    <p>A partir de los colores generados, podemos crear gradientes.</p>
    <div class="color-div gradient1"></div>
    <div class="color-div gradient3"></div>
    <div class="color-div gradient2"></div>



</SectionLayout>

<style>
    .color-div {
        width: 100%;
        height: calc(5rem + 1lvh);
        border-radius: .5rem;
        margin-bottom: 1.8rem;
    }
    .base {
        background-color: var(--clr-base);
    }

    .gradient1 {
        background: var(--gradient-v1);
    }

    .gradient2 {
        background: var(--gradient-v2);
    }
    .gradient3 {
        background: var(--gradient-v3);
    }
    p {
        margin-bottom: .8rem;
    }
    h1:not(:first-child) {
        margin-top: 4rem;
    }
    
</style>