---

import SectionLayout from "@components/prouns/SectionLayout.astro";

---

<SectionLayout id="footer" bg="var(--gradient-v3)">

    <footer>
        <p>Landing Model | Footer | 2025</p>
    </footer>

</SectionLayout>

<style>

    p {
        color: var(--clr-ff);
        font-weight: 600;
        margin: 0;
    }

    footer {
        padding: 8rem 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>