---
interface Props {
	body: string;
    href: string;
}

const { href = '/', body = 'Inicio'} = Astro.props;

---

<a href={href}>{body}</a>

<style>
    a {
        margin: 0;
        padding: 0;
        cursor: pointer;
        user-select: none;

    }

</style>