---
interface Props {
	body: string;
    href: string;
}

const { href = '/', body = 'Inicio' } = Astro.props;

---

<a class="btn-principal" href={href}>{body}</a>
<style>

.btn-principal {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    width: max-content;
    padding: .8rem 2rem;
    color: var(--clr-ff);
    background: var(--clr-00);
    border-radius: .5rem;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.25s ease-in, color 0.25s ease-in;
}
.btn-principal:hover {

    background: var(--clr-30);
    transition: background 0s ease-in, color 0s ease-in;

}
 
</style>