---
---

<div class="colores">
    <div class="clr-00"></div>
    <div class="clr-02"></div>
    <div class="clr-05"></div>
    <div class="clr-10"></div>
    <div class="clr-20"></div>
    <div class="clr-30"></div>
    <div class="clr-40"></div>
    <div class="clr-50"></div>
    <div class="clr-60"></div>
    <div class="clr-70"></div>
    <div class="clr-80"></div>
    <div class="clr-90"></div>
    <div class="clr-95"></div>
    <div class="clr-98"></div>
    <div class="clr-ff"></div>
</div>

<style>
    .colores {
        width: 100%;
        height: calc(5rem + 1lvh);
        border-radius: .5rem;
        margin: 0;
        margin-bottom: 1.8rem;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
    }

    .clr-00 { background-color: var(--clr-00); }
    .clr-02 { background-color: var(--clr-02); }
    .clr-05 { background-color: var(--clr-05); }
    .clr-10 { background-color: var(--clr-10); }
    .clr-20 { background-color: var(--clr-20); }
    .clr-30 { background-color: var(--clr-30); }
    .clr-40 { background-color: var(--clr-40); }
    .clr-50 { background-color: var(--clr-50); }
    .clr-60 { background-color: var(--clr-60); }
    .clr-70 { background-color: var(--clr-70); }
    .clr-80 { background-color: var(--clr-80); }
    .clr-90 { background-color: var(--clr-90); }
    .clr-95 { background-color: var(--clr-95); }
    .clr-98 { background-color: var(--clr-98); }
    .clr-ff { background-color: var(--clr-ff); }

</style>